.content {
	position: absolute;
	overflow-y: auto;
	width: 85vw;
	max-width: 350px;
	left: -90vw;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.content:focus {
	outline: none;
}

.contentShow {
	animation-name: contentShow;
}

.contentHide {
	animation-name: contentHide;
}

@keyframes contentShow {
	to {
		left: 0;
	}
}

@keyframes contentHide {
	from {
		left: 0;
	}
	to {
		left: -90vw;
	}
}
